<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecNews - Inicio</title>
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    

    <!-- SEO Search engine otimization -->
    <meta name="description" content="Fique por dentro das notícias mais relevantes sobre o mundo tech!">

    <!-- SMO Social media otimization-->
    <meta property="og:title" content="TechNews">
    <meta property="og:site_name" content="TechNews">
    <meta property="og:description" content="Fique por dentro das notícias mais relevantes sobre o mundo tech!">
    <meta property="og:url" content="https://www.technews.com.br">
    <meta property="og:image" content="/social-banner.jpg">
    <meta property="og:image:type" content="image/jpg">
</head>
<body>
    <!-- NavBar -->
    <section class="header">
        <div class="links">
            <a href="/">Home</a>
        </div>

        <div class="rightItems">
            <div class="search">
                <form action="/search" method="get" name="searchForm" id="searchForm">
                    <input type="text" name="noticia" id="noticia" required />
                    <label for="noticia">Pesquisar Notícia</label>
                </form>
    
                <button type="submit" form="searchForm"><i class="fa fa-search fa-2x"></i></button>
            </div>
            
            <% if(result == 0) { %>
            <button onclick="loginMenu();" id="loginBtn"><i class="fa fa-lock" id="loginBtn"></i> LOGIN</button>
            <% } else { %>
            <button onclick="PerfilMenu();" id="perfilBtn"><i class="fa fa-lock" id="perfilBtn"></i> PERFIL</button>
            <% } %>
        </div>

        <!-- Perfil window -->
        <% if(result == 1) { %>
            <div id="perfil-wind" class="perfil-info arrow-up" id="inside">
                <span>Olá <%= login %></span>
                <hr>
                <a href="/create-news">Nova Notícia</a>
                <hr>
                <button onclick="window.location.href='/logout'" class="register" id="inside"><i class="fa fa-door-open" id="inside"></i> Sair</button>
            </div>
        <% } %>

        <!-- Login window -->
        <div id="login-wind" class="dd-content arrow-up" id="inside">
            <h1 id="inside">Login</h1>

            <form action="/doLogin" method="post" name="loginForm" id="loginForm">
                <input type="text" name="login" id="login" required/>
                <label for="login" class="login" id="inside">Usuário</label>
                <input type="password" name="senha" id="senha" required/>
                <label for="senha" class="senha" id="inside">Senha</label>
            </form>
            
            <button type="submit" form="loginForm" id="inside"><i class="fa fa-unlock" id="inside"></i> Entrar</button>
            <button onclick="window.location.href='/register'" class="register" id="inside"><i class="fa fa-newspaper" id="inside"></i> Cadastrar-se</button>
        </div>
    </section>

    <!-- Página -->
    <section class="page">
        <div class="search">
            <form action="/search" method="get" name="searchFrm" id="searcFrm">
                <input type="text" name="noticia" id="Noticia" required />
                <label for="Noticia">Pesquisar Notícia</label>
                <button type="submit"><i class="fa fa-search fa-2x"></i></button>
            </form>
        </div>

        <div class="grid">
            <% if(notices != 0){
                for(item of news) { 
                    var datee = item.Data_Criacao.split('-').reverse().join('/');
                %>    
            <div class="content"  id="<%= item.notice_ID %>">
                <% if(item.Foto != "") { %>
                    <img src="<%= item.Foto %>" alt="" name="<%= item.Titulo %>" width="360px" height="300px"/>
                <% } else { %>
                    <img src="/photos/no-image.jpg" alt="" name="<%= item.Titulo %>" width="360px" height="300px"/>
                <% } %>
                <div class="box">
                    <% if(item.Autor === login) { %>
                        <form action="/editNews" method="get"><button type="submit" class="edit" value="<%= item.notice_ID %>" name="newsid"><i class="fa fa-pencil"></i></button></form>
                        <form action="/delNews" method="post"><button type="submit" class="delete" value="<%= item.notice_ID %>" name="btn"><i class="fa fa-trash-can"></i></button></form> 
                    <% }%>
                    <a href="/notice?id=<%= item.notice_ID %>&name=<%= item.Titulo %>"><h1><%= item.Titulo %></h1></a>
                    <h2><%= item.subTitulo %></h2>
                    <div class="parent">
                        <p id="outputt" style="white-space: pre-line"><%= item.Texto %></p>
                    </div>
                    <span class="date" id="date">Publicada por <%= item.Autor %>, em <%= datee %></span>
                </div>
            </div>
            <% } 
            } else { %>
                <div class="NO-Notices"><span>NENHUMA NOTÍCIA DISPONÍVEL.</span></div>
            <% } %>
        </div>

    </section>

    <!-- JS -->
    <script src="/dropMenus.js"></script>

    <% if(msg !== "") {%>
        <script>alert('<%= msg %>');</script>
    <% }%>
</body>
</html>
